.blue {
	color: var(--vscode-charts-blue);
	font-weight: bolder;
}

.green {
	color: var(--vscode-charts-green);
}

.invisible {
	display: none;
	opacity: 0;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}

#highlight {
	z-index: -1;
	position: absolute;
	left: 0;
	width: 100vw;
	background: var(--vscode-editor-lineHighlightBackground);
}

.chevron {
	margin: 5px;
	margin-right: 8px;
	width: 6px;
	height: 6px;
	border-right: 1px solid var(--vscode-editorGutter-foldingControlForeground);
	border-bottom: 1px solid var(--vscode-editorGutter-foldingControlForeground);
	transform: rotate(45deg) translateY(-3px);
	cursor: pointer;
}
.folded .chevron {
	transform: rotate(-45deg);
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	margin-right: 3px;
}
.column p {
	margin: 0 2px;
	font-size: var(--vscode-font-size);
	color: var(--vscode-foreground);
}

.foldable-without-title {
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
}
.foldable-without-title.folded .column {
	margin-right: 0;
}
.foldable-without-title.folded .column p:not(:first-child) {
	display: none;
}

.foldable {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}
.foldable.folded .row:nth-child(2) {
	display: none;
}

.foldable-content {
	display: flex;
	flex-direction: row;
}

.foldable-title {
	font-weight: bolder;
	cursor: pointer;
}

.untracked p {
	color: var(--vscode-charts-purple);
}
.hashes p {
	color: var(--vscode-descriptionForeground);
}

.selected {
	width: 100%;
	background: var(--vscode-editor-lineHighlightBackground);
}

.error-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-container p {
	font-size: calc(2 * var(--vscode-font-size));
	font-weight: bolder;
}

.foldable.indent > .row > .chevron.invisible {
	display: block !important;
}

.folded,
.foldable.no-offset {
	margin-bottom: 0 !important;
}

.code {
	width: 100vw;
	background: var(--vscode-input-background);
}

.code p {
	width: 100%;
}

.code .red {
	background: #e82020;
}

.code .green {
	background: #256025;
}
