/* --vscode-font-family: system-ui, "Ubuntu", "Droid Sans", sans-serif;
--vscode-font-weight: normal;
--vscode-font-size: 13px;
--vscode-editor-font-family: "Droid Sans Mono", "monospace", monospace;
--vscode-editor-font-weight: normal;
--vscode-editor-font-size: 12px;
--vscode-foreground: #d5d8da;
--vscode-disabledForeground: rgba(204, 204, 204, 0.5);
--vscode-errorForeground: #f43e5c;
--vscode-descriptionForeground: rgba(213, 216, 218, 0.7);
--vscode-icon-foreground: #c5c5c5;
--vscode-focusBorder: #1a1c23;
--vscode-selection-background: rgba(108, 111, 147, 0.5);
--vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
--vscode-textLink-foreground: #e95378;
--vscode-textLink-activeForeground: #e9436d;
--vscode-textPreformat-foreground: #d7ba7d;
--vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
--vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
--vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
--vscode-widget-shadow: #16161c;
--vscode-input-background: #2e303e;
--vscode-input-foreground: #d5d8da;
--vscode-inputOption-activeBorder: rgba(233, 67, 109, 0.5);
--vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
--vscode-inputOption-activeBackground: rgba(26, 28, 35, 0.4);
--vscode-inputOption-activeForeground: #ffffff;
--vscode-input-placeholderForeground: rgba(213, 216, 218, 0.5);
--vscode-inputValidation-infoBackground: #063b49;
--vscode-inputValidation-infoBorder: #007acc;
--vscode-inputValidation-warningBackground: #352a05;
--vscode-inputValidation-warningBorder: #b89500;
--vscode-inputValidation-errorBackground: rgba(244, 62, 92, 0.5);
--vscode-inputValidation-errorBorder: rgba(244, 62, 92, 0);
--vscode-dropdown-background: #232530;
--vscode-dropdown-listBackground: #2e303e;
--vscode-dropdown-foreground: #f0f0f0;
--vscode-dropdown-border: #232530;
--vscode-button-foreground: #ffffff;
--vscode-button-separator: rgba(255, 255, 255, 0.4);
--vscode-button-background: #2e303e;
--vscode-button-hoverBackground: #37394a;
--vscode-button-secondaryForeground: #ffffff;
--vscode-button-secondaryBackground: #3a3d41;
--vscode-button-secondaryHoverBackground: #45494e;
--vscode-badge-background: #2e303e;
--vscode-badge-foreground: #d5d8da;
--vscode-scrollbar-shadow: #16161c;
--vscode-scrollbarSlider-background: rgba(108, 111, 147, 0.1);
--vscode-scrollbarSlider-hoverBackground: rgba(108, 111, 147, 0.3);
--vscode-scrollbarSlider-activeBackground: rgba(108, 111, 147, 0.5);
--vscode-progressBar-background: #e95378;
--vscode-editorError-foreground: #f43e5c;
--vscode-editorWarning-foreground: rgba(39, 215, 151, 0.7);
--vscode-editorInfo-foreground: #3794ff;
--vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
--vscode-sash-hoverBorder: #1a1c23;
--vscode-editor-background: #1c1e26;
--vscode-editor-foreground: #bbbbbb;
--vscode-editorStickyScroll-background: #1c1e26;
--vscode-editorStickyScrollHover-background: #2a2d2e;
--vscode-editorWidget-background: #232530;
--vscode-editorWidget-foreground: #d5d8da;
--vscode-editorWidget-border: #232530;
--vscode-quickInput-background: #232530;
--vscode-quickInput-foreground: #d5d8da;
--vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
--vscode-pickerGroup-foreground: rgba(233, 83, 120, 0.9);
--vscode-pickerGroup-border: #3f3f46;
--vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
--vscode-keybindingLabel-foreground: #cccccc;
--vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
--vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
--vscode-editor-selectionBackground: rgba(46, 48, 62, 0.7);
--vscode-editor-inactiveSelectionBackground: rgba(46, 48, 62, 0.35);
--vscode-editor-selectionHighlightBackground: rgba(108, 111, 147, 0.3);
--vscode-editor-findMatchBackground: rgba(108, 111, 147, 0.5);
--vscode-editor-findMatchHighlightBackground: rgba(108, 111, 147, 0.3);
--vscode-editor-findRangeHighlightBackground: rgba(108, 111, 147, 0.1);
--vscode-searchEditor-findMatchBackground: rgba(108, 111, 147, 0.2);
--vscode-editor-hoverHighlightBackground: rgba(108, 111, 147, 0.3);
--vscode-editorHoverWidget-background: #232530;
--vscode-editorHoverWidget-foreground: #d5d8da;
--vscode-editorHoverWidget-border: #232530;
--vscode-editorHoverWidget-statusBarBackground: #2a2c3a;
--vscode-editorLink-activeForeground: #4e94ce;
--vscode-editorInlayHint-foreground: #d5d8da;
--vscode-editorInlayHint-background: rgba(46, 48, 62, 0.8);
--vscode-editorInlayHint-typeForeground: #d5d8da;
--vscode-editorInlayHint-typeBackground: rgba(46, 48, 62, 0.8);
--vscode-editorInlayHint-parameterForeground: #d5d8da;
--vscode-editorInlayHint-parameterBackground: rgba(46, 48, 62, 0.8);
--vscode-editorLightBulb-foreground: #ffcc00;
--vscode-editorLightBulbAutoFix-foreground: #75beff;
--vscode-diffEditor-insertedTextBackground: rgba(9, 247, 160, 0.1);
--vscode-diffEditor-removedTextBackground: rgba(244, 62, 92, 0.1);
--vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
--vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
--vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
--vscode-list-focusBackground: rgba(46, 48, 62, 0.5);
--vscode-list-focusForeground: #d5d8da;
--vscode-list-focusOutline: #1a1c23;
--vscode-list-activeSelectionBackground: rgba(46, 48, 62, 0.5);
--vscode-list-activeSelectionForeground: #d5d8da;
--vscode-list-inactiveSelectionBackground: rgba(46, 48, 62, 0.3);
--vscode-list-inactiveSelectionForeground: #d5d8da;
--vscode-list-inactiveFocusBackground: rgba(46, 48, 62, 0.5);
--vscode-list-hoverBackground: rgba(46, 48, 62, 0.5);
--vscode-list-hoverForeground: #d5d8da;
--vscode-list-dropBackground: rgba(108, 111, 147, 0.5);
--vscode-list-highlightForeground: #e95378;
--vscode-list-focusHighlightForeground: #e95378;
--vscode-list-invalidItemForeground: #b89500;
--vscode-list-errorForeground: rgba(244, 62, 92, 0.9);
--vscode-list-warningForeground: rgba(39, 215, 151, 0.7);
--vscode-listFilterWidget-background: #232530;
--vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
--vscode-listFilterWidget-noMatchesOutline: #be1100;
--vscode-listFilterWidget-shadow: #16161c;
--vscode-list-filterMatchBackground: rgba(108, 111, 147, 0.3);
--vscode-tree-indentGuidesStroke: #585858;
--vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
--vscode-tree-tableOddRowsBackground: rgba(213, 216, 218, 0.04);
--vscode-list-deemphasizedForeground: #8c8c8c;
--vscode-checkbox-background: #232530;
--vscode-checkbox-selectBackground: #232530;
--vscode-checkbox-foreground: #f0f0f0;
--vscode-checkbox-border: #232530;
--vscode-checkbox-selectBorder: #232530;
--vscode-quickInputList-focusForeground: #d5d8da;
--vscode-quickInputList-focusBackground: rgba(46, 48, 62, 0.5);
--vscode-menu-foreground: #f0f0f0;
--vscode-menu-background: #232530;
--vscode-menu-selectionForeground: #d5d8da;
--vscode-menu-selectionBackground: rgba(46, 48, 62, 0.5);
--vscode-menu-separatorBackground: #606060;
--vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
--vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
--vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
--vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
--vscode-breadcrumb-foreground: rgba(213, 216, 218, 0.8);
--vscode-breadcrumb-background: #1c1e26;
--vscode-breadcrumb-focusForeground: #ecedee;
--vscode-breadcrumb-activeSelectionForeground: #ecedee;
--vscode-breadcrumbPicker-background: #232530;
--vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
--vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
--vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
--vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
--vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
--vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
--vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
--vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
--vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
--vscode-editorOverviewRuler-findMatchForeground: #6c6f93;
--vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
--vscode-minimap-findMatchHighlight: #d18616;
--vscode-minimap-selectionOccurrenceHighlight: #676767;
--vscode-minimap-selectionHighlight: #264f78;
--vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
--vscode-minimap-warningHighlight: rgba(39, 215, 151, 0.7);
--vscode-minimap-foregroundOpacity: #000000;
--vscode-minimapSlider-background: rgba(108, 111, 147, 0.05);
--vscode-minimapSlider-hoverBackground: rgba(108, 111, 147, 0.15);
--vscode-minimapSlider-activeBackground: rgba(108, 111, 147, 0.25);
--vscode-problemsErrorIcon-foreground: #f43e5c;
--vscode-problemsWarningIcon-foreground: rgba(39, 215, 151, 0.7);
--vscode-problemsInfoIcon-foreground: #3794ff;
--vscode-charts-foreground: #d5d8da;
--vscode-charts-lines: rgba(213, 216, 218, 0.5);
--vscode-charts-red: #f43e5c;
--vscode-charts-blue: #3794ff;
--vscode-charts-yellow: rgba(39, 215, 151, 0.7);
--vscode-charts-orange: #d18616;
--vscode-charts-green: #89d185;
--vscode-charts-purple: #b180d7;
--vscode-symbolIcon-arrayForeground: #d5d8da;
--vscode-symbolIcon-booleanForeground: #d5d8da;
--vscode-symbolIcon-classForeground: #ee9d28;
--vscode-symbolIcon-colorForeground: #d5d8da;
--vscode-symbolIcon-constantForeground: #d5d8da;
--vscode-symbolIcon-constructorForeground: #b180d7;
--vscode-symbolIcon-enumeratorForeground: #ee9d28;
--vscode-symbolIcon-enumeratorMemberForeground: #75beff;
--vscode-symbolIcon-eventForeground: #ee9d28;
--vscode-symbolIcon-fieldForeground: #75beff;
--vscode-symbolIcon-fileForeground: #d5d8da;
--vscode-symbolIcon-folderForeground: #d5d8da;
--vscode-symbolIcon-functionForeground: #b180d7;
--vscode-symbolIcon-interfaceForeground: #75beff;
--vscode-symbolIcon-keyForeground: #d5d8da;
--vscode-symbolIcon-keywordForeground: #d5d8da;
--vscode-symbolIcon-methodForeground: #b180d7;
--vscode-symbolIcon-moduleForeground: #d5d8da;
--vscode-symbolIcon-namespaceForeground: #d5d8da;
--vscode-symbolIcon-nullForeground: #d5d8da;
--vscode-symbolIcon-numberForeground: #d5d8da;
--vscode-symbolIcon-objectForeground: #d5d8da;
--vscode-symbolIcon-operatorForeground: #d5d8da;
--vscode-symbolIcon-packageForeground: #d5d8da;
--vscode-symbolIcon-propertyForeground: #d5d8da;
--vscode-symbolIcon-referenceForeground: #d5d8da;
--vscode-symbolIcon-snippetForeground: #d5d8da;
--vscode-symbolIcon-stringForeground: #d5d8da;
--vscode-symbolIcon-structForeground: #d5d8da;
--vscode-symbolIcon-textForeground: #d5d8da;
--vscode-symbolIcon-typeParameterForeground: #d5d8da;
--vscode-symbolIcon-unitForeground: #d5d8da;
--vscode-symbolIcon-variableForeground: #75beff;
--vscode-editor-lineHighlightBackground: rgba(46, 48, 62, 0.3);
--vscode-editor-lineHighlightBorder: #282828;
--vscode-editor-rangeHighlightBackground: rgba(46, 48, 62, 0.5);
--vscode-editor-symbolHighlightBackground: rgba(108, 111, 147, 0.3);
--vscode-editorCursor-foreground: #e95378;
--vscode-editorCursor-background: #1c1e26;
--vscode-editorWhitespace-foreground: rgba(227, 228, 226, 0.16);
--vscode-editorIndentGuide-background: rgba(46, 48, 62, 0.5);
--vscode-editorIndentGuide-activeBackground: #2e303e;
--vscode-editorLineNumber-foreground: rgba(213, 216, 218, 0.1);
--vscode-editorActiveLineNumber-foreground: #c6c6c6;
--vscode-editorLineNumber-activeForeground: rgba(213, 216, 218, 0.5);
--vscode-editorRuler-foreground: rgba(108, 111, 147, 0.3);
--vscode-editorCodeLens-foreground: rgba(108, 111, 147, 0.5);
--vscode-editorBracketMatch-background: rgba(108, 111, 147, 0.5);
--vscode-editorBracketMatch-border: rgba(108, 111, 147, 0);
--vscode-editorOverviewRuler-border: rgba(46, 48, 62, 0.7);
--vscode-editorGutter-background: #1c1e26;
--vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
--vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
--vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
--vscode-editorOverviewRuler-errorForeground: rgba(244, 62, 92, 0.9);
--vscode-editorOverviewRuler-warningForeground: rgba(39, 215, 151, 0.5);
--vscode-editorOverviewRuler-infoForeground: #3794ff;
--vscode-editorBracketHighlight-foreground1: #ffd700;
--vscode-editorBracketHighlight-foreground2: #da70d6;
--vscode-editorBracketHighlight-foreground3: #179fff;
--vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
--vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
--vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
--vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(255, 18, 18, 0.8);
--vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
--vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
--vscode-editorUnicodeHighlight-border: #bd9b03;
--vscode-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
--vscode-editorHoverWidget-highlightForeground: #e95378;
--vscode-editorOverviewRuler-bracketMatchForeground: rgba(213, 216, 218, 0.5);
--vscode-editor-foldBackground: rgba(46, 48, 62, 0.21);
--vscode-editorGutter-foldingControlForeground: #c5c5c5;
--vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
--vscode-editor-wordHighlightBackground: rgba(108, 111, 147, 0.5);
--vscode-editor-wordHighlightStrongBackground: rgba(108, 111, 147, 0.5);
--vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
--vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
--vscode-peekViewTitle-background: #232530;
--vscode-peekViewTitleLabel-foreground: #ffffff;
--vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
--vscode-peekView-border: #1a1c23;
--vscode-peekViewResult-background: #232530;
--vscode-peekViewResult-lineForeground: #bbbbbb;
--vscode-peekViewResult-fileForeground: #ffffff;
--vscode-peekViewResult-selectionBackground: rgba(46, 48, 62, 0.5);
--vscode-peekViewResult-selectionForeground: #ffffff;
--vscode-peekViewEditor-background: #232530;
--vscode-peekViewEditorGutter-background: #232530;
--vscode-peekViewResult-matchHighlightBackground: rgba(108, 111, 147, 0.5);
--vscode-peekViewEditor-matchHighlightBackground: rgba(108, 111, 147, 0.5);
--vscode-editorMarkerNavigationError-background: #f43e5c;
--vscode-editorMarkerNavigationError-headerBackground: rgba(244, 62, 92, 0.1);
--vscode-editorMarkerNavigationWarning-background: rgba(39, 215, 151, 0.7);
--vscode-editorMarkerNavigationWarning-headerBackground: rgba(39, 215, 151, 0.07);
--vscode-editorMarkerNavigationInfo-background: #3794ff;
--vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
--vscode-editorMarkerNavigation-background: #1c1e26;
--vscode-editorSuggestWidget-background: #232530;
--vscode-editorSuggestWidget-border: #232530;
--vscode-editorSuggestWidget-foreground: #bbbbbb;
--vscode-editorSuggestWidget-selectedForeground: #d5d8da;
--vscode-editorSuggestWidget-selectedBackground: rgba(46, 48, 62, 0.5);
--vscode-editorSuggestWidget-highlightForeground: #e95378;
--vscode-editorSuggestWidget-focusHighlightForeground: #e95378;
--vscode-editorSuggestWidgetStatus-foreground: rgba(187, 187, 187, 0.5);
--vscode-tab-activeBackground: #1c1e26;
--vscode-tab-unfocusedActiveBackground: #1c1e26;
--vscode-tab-inactiveBackground: #1c1e26;
--vscode-tab-unfocusedInactiveBackground: #1c1e26;
--vscode-tab-activeForeground: #ffffff;
--vscode-tab-inactiveForeground: rgba(255, 255, 255, 0.5);
--vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
--vscode-tab-unfocusedInactiveForeground: rgba(255, 255, 255, 0.25);
--vscode-tab-border: rgba(28, 30, 38, 0);
--vscode-tab-lastPinnedBorder: #585858;
--vscode-tab-activeBorder: #e95378;
--vscode-tab-unfocusedActiveBorder: rgba(233, 83, 120, 0.5);
--vscode-tab-activeModifiedBorder: #3399cc;
--vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
--vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
--vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
--vscode-editorPane-background: #1c1e26;
--vscode-editorGroupHeader-tabsBackground: #1c1e26;
--vscode-editorGroupHeader-noTabsBackground: #1c1e26;
--vscode-editorGroup-border: #1a1c23;
--vscode-editorGroup-dropBackground: rgba(108, 111, 147, 0.3);
--vscode-editorGroup-dropIntoPromptForeground: #d5d8da;
--vscode-editorGroup-dropIntoPromptBackground: #232530;
--vscode-sideBySideEditor-horizontalBorder: #1a1c23;
--vscode-sideBySideEditor-verticalBorder: #1a1c23;
--vscode-panel-background: #1c1e26;
--vscode-panel-border: rgba(128, 128, 128, 0.35);
--vscode-panelTitle-activeForeground: #e7e7e7;
--vscode-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
--vscode-panelTitle-activeBorder: #e95378;
--vscode-panel-dropBorder: #e7e7e7;
--vscode-panelSection-dropBackground: rgba(108, 111, 147, 0.3);
--vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
--vscode-panelSection-border: rgba(128, 128, 128, 0.35);
--vscode-banner-background: rgba(46, 48, 62, 0.5);
--vscode-banner-foreground: #d5d8da;
--vscode-banner-iconForeground: #3794ff;
--vscode-statusBar-foreground: rgba(213, 216, 218, 0.5);
--vscode-statusBar-noFolderForeground: rgba(213, 216, 218, 0.5);
--vscode-statusBar-background: #1c1e26;
--vscode-statusBar-noFolderBackground: #1c1e26;
--vscode-statusBar-focusBorder: rgba(213, 216, 218, 0.5);
--vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
--vscode-statusBarItem-focusBorder: rgba(213, 216, 218, 0.5);
--vscode-statusBarItem-hoverBackground: #2e303e;
--vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
--vscode-statusBarItem-prominentForeground: rgba(213, 216, 218, 0.5);
--vscode-statusBarItem-prominentBackground: #2e303e;
--vscode-statusBarItem-prominentHoverBackground: #6c6f93;
--vscode-statusBarItem-errorBackground: #ae0a25;
--vscode-statusBarItem-errorForeground: #ffffff;
--vscode-statusBarItem-warningBackground: rgba(23, 129, 90, 0.7);
--vscode-statusBarItem-warningForeground: #ffffff;
--vscode-activityBar-background: #1c1e26;
--vscode-activityBar-foreground: rgba(213, 216, 218, 0.7);
--vscode-activityBar-inactiveForeground: rgba(213, 216, 218, 0.28);
--vscode-activityBar-activeBorder: rgba(213, 216, 218, 0.7);
--vscode-activityBar-dropBorder: rgba(213, 216, 218, 0.7);
--vscode-activityBarBadge-background: #e95378;
--vscode-activityBarBadge-foreground: #06060c;
--vscode-activityBarItem-profilesForeground: rgba(213, 216, 218, 0.28);
--vscode-activityBarItem-profilesHoverForeground: rgba(213, 216, 218, 0.7);
--vscode-activityBarItem-profilesBackground: #2a2d39;
--vscode-statusBarItem-remoteBackground: #e95378;
--vscode-statusBarItem-remoteForeground: #06060c;
--vscode-extensionBadge-remoteBackground: #e95378;
--vscode-extensionBadge-remoteForeground: #06060c;
--vscode-sideBar-background: #1c1e26;
--vscode-sideBar-foreground: rgba(213, 216, 218, 0.5);
--vscode-sideBarTitle-foreground: rgba(213, 216, 218, 0.5);
--vscode-sideBar-dropBackground: rgba(108, 111, 147, 0.3);
--vscode-sideBarSectionHeader-background: #1c1e26;
--vscode-sideBarSectionHeader-foreground: rgba(213, 216, 218, 0.7);
--vscode-titleBar-activeForeground: #cccccc;
--vscode-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
--vscode-titleBar-activeBackground: #1c1e26;
--vscode-titleBar-inactiveBackground: #1c1e26;
--vscode-menubar-selectionForeground: #cccccc;
--vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
--vscode-notifications-foreground: #d5d8da;
--vscode-notifications-background: #232530;
--vscode-notificationLink-foreground: #e95378;
--vscode-notificationCenterHeader-background: #2e303f;
--vscode-notifications-border: #2e303f;
--vscode-notificationsErrorIcon-foreground: #f43e5c;
--vscode-notificationsWarningIcon-foreground: rgba(39, 215, 151, 0.7);
--vscode-notificationsInfoIcon-foreground: #3794ff;
--vscode-commandCenter-foreground: #cccccc;
--vscode-commandCenter-activeForeground: #cccccc;
--vscode-commandCenter-inactiveForeground: rgba(204, 204, 204, 0.6);
--vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
--vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
--vscode-commandCenter-border: rgba(204, 204, 204, 0.2);
--vscode-commandCenter-activeBorder: rgba(204, 204, 204, 0.3);
--vscode-commandCenter-inactiveBorder: rgba(204, 204, 204, 0.15);
--vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
--vscode-editorCommentsWidget-unresolvedBorder: #1a1c23;
--vscode-editorCommentsWidget-rangeBackground: rgba(26, 28, 35, 0.1);
--vscode-editorCommentsWidget-rangeBorder: rgba(26, 28, 35, 0.4);
--vscode-editorCommentsWidget-rangeActiveBackground: rgba(26, 28, 35, 0.1);
--vscode-editorCommentsWidget-rangeActiveBorder: rgba(26, 28, 35, 0.4);
--vscode-editorGutter-commentRangeForeground: rgba(46, 48, 62, 0.3);
--vscode-debugToolBar-background: #1c1e26;
--vscode-debugIcon-startForeground: #89d185;
--vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
--vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
--vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
--vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
--vscode-mergeEditor-changeBase\.background: #4b1818;
--vscode-mergeEditor-changeBase\.word\.background: #6f1313;
--vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(255, 166, 0, 0.48);
--vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
--vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
--vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
--vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
--vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
--vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
--vscode-mergeEditor-conflict\.input1\.background: rgba(64, 200, 174, 0.2);
--vscode-mergeEditor-conflict\.input2\.background: rgba(64, 166, 255, 0.2);
--vscode-settings-headerForeground: #e7e7e7;
--vscode-settings-modifiedItemIndicator: #0c7d9d;
--vscode-settings-headerBorder: rgba(128, 128, 128, 0.35);
--vscode-settings-sashBorder: rgba(128, 128, 128, 0.35);
--vscode-settings-dropdownBackground: #232530;
--vscode-settings-dropdownForeground: #f0f0f0;
--vscode-settings-dropdownBorder: #232530;
--vscode-settings-dropdownListBorder: #232530;
--vscode-settings-checkboxBackground: #232530;
--vscode-settings-checkboxForeground: #f0f0f0;
--vscode-settings-checkboxBorder: #232530;
--vscode-settings-textInputBackground: #2e303e;
--vscode-settings-textInputForeground: #d5d8da;
--vscode-settings-numberInputBackground: #2e303e;
--vscode-settings-numberInputForeground: #d5d8da;
--vscode-settings-focusedRowBackground: rgba(46, 48, 62, 0.3);
--vscode-settings-rowHoverBackground: rgba(46, 48, 62, 0.15);
--vscode-settings-focusedRowBorder: #1a1c23;
--vscode-terminal-foreground: #d5d8da;
--vscode-terminalCursor-foreground: rgba(108, 111, 147, 0.5);
--vscode-terminalCursor-background: #d5d8da;
--vscode-terminal-selectionBackground: rgba(108, 111, 147, 0.3);
--vscode-terminal-inactiveSelectionBackground: rgba(108, 111, 147, 0.15);
--vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
--vscode-terminalCommandDecoration-successBackground: #1b81a8;
--vscode-terminalCommandDecoration-errorBackground: #f14c4c;
--vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
--vscode-terminal-border: rgba(128, 128, 128, 0.35);
--vscode-terminal-findMatchBackground: rgba(108, 111, 147, 0.5);
--vscode-terminal-findMatchHighlightBackground: rgba(108, 111, 147, 0.3);
--vscode-terminalOverviewRuler-findMatchForeground: #6c6f93;
--vscode-terminal-dropBackground: rgba(108, 111, 147, 0.3);
--vscode-terminal-tab\.activeBorder: #e95378;
--vscode-testing-iconFailed: #f14c4c;
--vscode-testing-iconErrored: #f14c4c;
--vscode-testing-iconPassed: #73c991;
--vscode-testing-runAction: #73c991;
--vscode-testing-iconQueued: #cca700;
--vscode-testing-iconUnset: #848484;
--vscode-testing-iconSkipped: #848484;
--vscode-testing-peekBorder: #f43e5c;
--vscode-testing-peekHeaderBackground: rgba(244, 62, 92, 0.1);
--vscode-testing-message\.error\.decorationForeground: #f43e5c;
--vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
--vscode-testing-message\.info\.decorationForeground: rgba(187, 187, 187, 0.5);
--vscode-welcomePage-tileBackground: #232530;
--vscode-welcomePage-tileHoverBackground: #2a2c3a;
--vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
--vscode-welcomePage-progress\.background: #2e303e;
--vscode-welcomePage-progress\.foreground: #e95378;
--vscode-walkthrough-stepTitle\.foreground: #ffffff;
--vscode-walkThrough-embeddedEditorBackground: #232530;
--vscode-debugExceptionWidget-border: #a31515;
--vscode-debugExceptionWidget-background: #420b0d;
--vscode-ports-iconRunningProcessForeground: #e95378;
--vscode-statusBar-debuggingBackground: #fab38e;
--vscode-statusBar-debuggingForeground: #06060c;
--vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
--vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
--vscode-editorGutter-modifiedBackground: rgba(33, 191, 194, 0.7);
--vscode-editorGutter-addedBackground: rgba(9, 247, 160, 0.7);
--vscode-editorGutter-deletedBackground: rgba(244, 62, 92, 0.7);
--vscode-minimapGutter-modifiedBackground: rgba(33, 191, 194, 0.7);
--vscode-minimapGutter-addedBackground: rgba(9, 247, 160, 0.7);
--vscode-minimapGutter-deletedBackground: rgba(244, 62, 92, 0.7);
--vscode-editorOverviewRuler-modifiedForeground: rgba(33, 191, 194, 0.5);
--vscode-editorOverviewRuler-addedForeground: rgba(9, 247, 160, 0.5);
--vscode-editorOverviewRuler-deletedForeground: rgba(244, 62, 92, 0.5);
--vscode-debugIcon-breakpointForeground: #e51400;
--vscode-debugIcon-breakpointDisabledForeground: #848484;
--vscode-debugIcon-breakpointUnverifiedForeground: #848484;
--vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
--vscode-debugIcon-breakpointStackframeForeground: #89d185;
--vscode-notebook-cellBorderColor: rgba(46, 48, 62, 0.3);
--vscode-notebook-focusedEditorBorder: #1a1c23;
--vscode-notebookStatusSuccessIcon-foreground: #89d185;
--vscode-notebookStatusErrorIcon-foreground: #f43e5c;
--vscode-notebookStatusRunningIcon-foreground: #d5d8da;
--vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
--vscode-notebook-selectedCellBackground: rgba(46, 48, 62, 0.3);
--vscode-notebook-selectedCellBorder: rgba(46, 48, 62, 0.3);
--vscode-notebook-focusedCellBorder: #1a1c23;
--vscode-notebook-inactiveFocusedCellBorder: rgba(46, 48, 62, 0.3);
--vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
--vscode-notebook-cellInsertionIndicator: #1a1c23;
--vscode-notebookScrollbarSlider-background: rgba(108, 111, 147, 0.1);
--vscode-notebookScrollbarSlider-hoverBackground: rgba(108, 111, 147, 0.3);
--vscode-notebookScrollbarSlider-activeBackground: rgba(108, 111, 147, 0.5);
--vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
--vscode-notebook-cellEditorBackground: #1c1e26;
--vscode-notebook-editorBackground: #1c1e26;
--vscode-keybindingTable-headerBackground: rgba(213, 216, 218, 0.04);
--vscode-keybindingTable-rowsBackground: rgba(213, 216, 218, 0.04);
--vscode-scm-providerBorder: #454545;
--vscode-debugTokenExpression-name: #c586c0;
--vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
--vscode-debugTokenExpression-string: #ce9178;
--vscode-debugTokenExpression-boolean: #4e94ce;
--vscode-debugTokenExpression-number: #b5cea8;
--vscode-debugTokenExpression-error: #f48771;
--vscode-debugView-exceptionLabelForeground: #d5d8da;
--vscode-debugView-exceptionLabelBackground: #6c2022;
--vscode-debugView-stateLabelForeground: #d5d8da;
--vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
--vscode-debugView-valueChangedHighlight: #569cd6;
--vscode-debugConsole-infoForeground: #3794ff;
--vscode-debugConsole-warningForeground: rgba(39, 215, 151, 0.7);
--vscode-debugConsole-errorForeground: #f43e5c;
--vscode-debugConsole-sourceForeground: #d5d8da;
--vscode-debugConsoleInputIcon-foreground: #d5d8da;
--vscode-debugIcon-pauseForeground: #75beff;
--vscode-debugIcon-stopForeground: #f48771;
--vscode-debugIcon-disconnectForeground: #f48771;
--vscode-debugIcon-restartForeground: #89d185;
--vscode-debugIcon-stepOverForeground: #75beff;
--vscode-debugIcon-stepIntoForeground: #75beff;
--vscode-debugIcon-stepOutForeground: #75beff;
--vscode-debugIcon-continueForeground: #75beff;
--vscode-debugIcon-stepBackForeground: #75beff;
--vscode-extensionButton-background: #2e303e;
--vscode-extensionButton-foreground: #ffffff;
--vscode-extensionButton-hoverBackground: #37394a;
--vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
--vscode-extensionButton-prominentBackground: #e95378;
--vscode-extensionButton-prominentForeground: #ffffff;
--vscode-extensionButton-prominentHoverBackground: #e9436d;
--vscode-extensionIcon-starForeground: #ff8e00;
--vscode-extensionIcon-verifiedForeground: #e95378;
--vscode-extensionIcon-preReleaseForeground: #1d9271;
--vscode-extensionIcon-sponsorForeground: #d758b3;
--vscode-terminal-ansiBlack: #000000;
--vscode-terminal-ansiRed: #e95678;
--vscode-terminal-ansiGreen: #29d398;
--vscode-terminal-ansiYellow: #fab795;
--vscode-terminal-ansiBlue: #26bbd9;
--vscode-terminal-ansiMagenta: #ee64ac;
--vscode-terminal-ansiCyan: #59e1e3;
--vscode-terminal-ansiWhite: #e5e5e5;
--vscode-terminal-ansiBrightBlack: #666666;
--vscode-terminal-ansiBrightRed: #ec6a88;
--vscode-terminal-ansiBrightGreen: #3fdaa4;
--vscode-terminal-ansiBrightYellow: #fbc3a7;
--vscode-terminal-ansiBrightBlue: #3fc4de;
--vscode-terminal-ansiBrightMagenta: #f075b5;
--vscode-terminal-ansiBrightCyan: #6be4e6;
--vscode-terminal-ansiBrightWhite: #e5e5e5;
--vscode-interactive-activeCodeBorder: #1a1c23;
--vscode-interactive-inactiveCodeBorder: rgba(46, 48, 62, 0.3);
--vscode-gitDecoration-addedResourceForeground: rgba(39, 215, 151, 0.7);
--vscode-gitDecoration-modifiedResourceForeground: #fab38e;
--vscode-gitDecoration-deletedResourceForeground: #f43e5c;
--vscode-gitDecoration-renamedResourceForeground: #73c991;
--vscode-gitDecoration-untrackedResourceForeground: #27d797;
--vscode-gitDecoration-ignoredResourceForeground: rgba(213, 216, 218, 0.3);
--vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
--vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
--vscode-gitDecoration-conflictingResourceForeground: #e4676b;
--vscode-gitDecoration-submoduleResourceForeground: #8db9e2; */

.blue {
	color: var(--vscode-charts-blue);
	font-weight: bolder;
}

.green {
	color: var(--vscode-charts-green);
}

.invisible {
	opacity: 0;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.chevron {
	margin: 5px;
	margin-right: 8px;
	width: 6px;
	height: 6px;
	border-right: 1px solid var(--vscode-editorGutter-foldingControlForeground);
	border-bottom: 1px solid var(--vscode-editorGutter-foldingControlForeground);
	transform: rotate(45deg) translateY(-3px);
	cursor: pointer;
}
.folded .chevron {
	transform: rotate(-45deg);
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
	margin-right: 3px;
}
.column p {
	margin: 0 2px;
	font-size: var(--vscode-font-size);
	color: var(--vscode-foreground);
}

.foldable-without-title {
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
}
.foldable-without-title.folded .column {
	margin-right: 0;
}
.foldable-without-title.folded .column p:not(:first-child) {
	display: none;
}

.foldable {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}
.foldable.folded .row:nth-child(2) {
	display: none;
}

.foldable-content {
	display: flex;
	flex-direction: row;
}

.foldable-title {
	font-weight: bolder;
	cursor: pointer;
}

.untracked p {
	color: var(--vscode-charts-purple);
}
.hashes p {
	color: var(--vscode-descriptionForeground);
}
